server {
    listen 80;
    server_name localhost;

    # Localização padrão para servir a aplicação Vue
    location / {
        root   /usr/share/nginx/html;
        index  index.html;
        try_files $uri $uri/ /index.html;
    }
}